1.1: WAP to print your name three times.

In [1]:
print("Shikhar Saxena")
print("Shikhar Saxena")
print("Shikhar Saxena")

Shikhar Saxena
Shikhar Saxena
Shikhar Saxena

2.1: WAP to add three numbers and print the result.

In [ ]:
a = 100
b = 10
c = 20
d = a + b + c
print(d)

130

2.2: WAP to concatinate three strings and print the result

In [2]:
a = "I"
b = " like"
c = " Pokemons"
d = a  +  b  + c
print(a , "+", b , "+", c ,"->", d)

I +  like +  Pokemons -> I like Pokemons

4.1: WAP to print the table of 7, 9

In [ ]:
for i in range (1,11):
    print( 7,"*", i,"=",i*7)


for i in range (1,11):
    print( 9,"*", i,"=" ,i*9)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

4.2: WAP to print the table of n and n is given by user.

In [ ]:
a = int(input("enter the number: "))
for i in range(1,11):
    print(a,"*",i,"=",i*a)

34 * 1 = 34
34 * 2 = 68
34 * 3 = 102
34 * 4 = 136
34 * 5 = 170
34 * 6 = 204
34 * 7 = 238
34 * 8 = 272
34 * 9 = 306
34 * 10 = 340

4.3: WAP to add all the numbers from 1 to n and n is given by user.

In [ ]:
a = int(input("Enter the no: "))
s = 0
for i in range(1,a):
    s = s+i
print("The total sum up to a is: ",s)

The total sum up to a is:  253

5.1: WAP to find max amoung three numbers and input from user. [Try max() function]

In [ ]:
import math

a = int(input("enter first no: "))
b = int(input("enter second no: "))
c = int(input("enter Third no: "))
print("The max no.: ",max(a,b,c))

The max no.:  5

5.2: WAP to add all numbers divisible by 7 and 9 from 1 to n and n is given by the user.

In [ ]:
a = int(input("Enter the no: "))
s= 0
for i in range(1,a+1):
    if i%7==0 and i%9==0:
        s = s +i
print("sum : ",s)

sum :  0

5.3: WAP to add all prime numbers from 1 to n and n is given by the user.

In [ ]:
n = int(input("Enter the value of n: "))
s = 0

for num in range(2, n + 1):
    is_prime = True
    for i in range(2, int(num // 2) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        s += num

print(f"The sum of all prime numbers from 1 to {n} is: {s}")

The sum of all prime numbers from 1 to 65 is: 501

6.1: Function to add all odd numbers from 1 to n.

In [ ]:
def ADDodd(n):
    s = 0
    for i in range(1,n+1):
        if i%2!=0:
            s = s +i
    return s
n = int(input("Enter the no.: "))
result = ADDodd(n)
print("Sum of the odd number: ",result)

Sum of the odd number:  729

6.2: WAP using function that add all prime numbers from 1 to n, n given by the user.

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n** 0.5) + 1):
        if n % i == 0:
            return False
    return True

def sum_of_primes(n):
    s = 0
    for i in range(1, n + 1):
        if is_prime(i):
            s += i
    return s

n = int(input("Enter the value of n: "))

result = sum_of_primes(n)
print("sum of prime no.: ",result)

sum of prime no.:  281